# Larry Gu

## Research question/interests

I would like to investigate on the the average dewpoint. I want to find out the two most relative numbers.

# Milestone 3

## EDA

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('../data/raw/climate_data.csv')

In [ ]:
print(df.shape)
df.describe()
df.head()

(3902, 23)

,Date,Average temperature (°F),Average humidity (%),Average dewpoint (°F),Average barometer (in),Average windspeed (mph),Average gustspeed (mph),Average direction (°deg),Rainfall for month (in),Rainfall for year (in),...,Maximum humidity (%),Minimum humidity (%),Maximum pressure,Minimum pressure,Maximum windspeed (mph),Maximum gust speed (mph),Maximum heat index (°F),Date1,Month,diff_pressure
0,2009-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2009-01-01,1,0.166
1,2009-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2009-01-02,1,0.401
2,2009-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.260,25.3,38.0,41.0,2009-01-03,1,0.972
3,2009-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2009-01-04,1,0.339
4,2009-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2009-01-05,1,0.665

In [ ]:
df.nunique()

Date                        3902
Average temperature (°F)     656
Average humidity (%)          86
Average dewpoint (°F)        637
Average barometer (in)        22
Average windspeed (mph)      206
Average gustspeed (mph)      332
Average direction (°deg)     328
Rainfall for month (in)      234
Rainfall for year (in)       799
Maximum rain per minute        1
Maximum temperature (°F)     680
Minimum temperature (°F)     577
Maximum humidity (%)          92
Minimum humidity (%)          89
Maximum pressure            1047
Minimum pressure            1062
Maximum windspeed (mph)       63
Maximum gust speed (mph)     104
Maximum heat index (°F)      626
Date1                       3902
Month                         12
diff_pressure               1028
dtype: int64

In [ ]:
updateSection={
    "Average temperature (°F)":"avg_tem",
    "Average humidity (%)":"avg_hum",
    "Average dewpoint (°F)":"avg_dew",
    "Average barometer (in)":"avg_bar",
    "Average windspeed (mph)":"avg_win",
    "Average gustspeed (mph)":"avg_gus",
    "Average direction (°deg)":"avg_dir",
    "Rainfall for month (in)":"rfm",
    "Rainfall for year (in)":"rfy",
    "Maximum rain per minute":"max_rai",
    "Maximum temperature (°F)":"max_tem",
    "Minimum temperature (°F)":"min_tem",
    "Maximum humidity (%)":"max_hum",
    "Minimum humidity (%)":"min_hum",
    "Maximum pressure":"max_pre",
    "Minimum pressure":"min_pre",
    "Maximum windspeed (mph)":"max_win",
    "Maximum gust speed (mph)":"max_gus",
    "Maximum heat index (°F)":"max_hea",
    "diff_pressure":"dif_p"
}
df.rename(columns=updateSection)

,Date,avg_tem,avg_hum,avg_dew,avg_bar,avg_win,avg_gus,avg_dir,rfm,rfy,...,max_hum,min_hum,max_pre,min_pre,max_win,max_gus,max_hea,Date1,Month,dif_p
0,2009-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.00,0.00,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2009-01-01,1,0.166
1,2009-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.00,0.00,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2009-01-02,1,0.401
2,2009-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.00,0.00,...,8.0,35.0,30.232,29.260,25.3,38.0,41.0,2009-01-03,1,0.972
3,2009-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.00,0.00,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2009-01-04,1,0.339
4,2009-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.00,0.00,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2009-01-05,1,0.665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,2020-07-24,64.1,62.0,49.8,29.6,3.6,5.8,240.0,0.24,4.38,...,86.0,35.0,29.686,29.577,15.0,25.3,77.4,2020-07-24,7,0.109
3898,2020-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,90.0,36.0,29.781,29.645,8.1,17.3,77.5,2020-07-25,7,0.136
3899,2020-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,90.0,40.0,29.930,29.745,11.5,15.0,77.5,2020-07-26,7,0.185
3900,2020-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,96.0,35.0,29.941,29.781,13.8,18.4,78.2,2020-07-27,7,0.160
3901,2020-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,94.0,35.0,29.792,29.675,17.3,26.5,77.6,2020-07-28,7,0.117